version: "3.9"

services:

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ocei3
      POSTGRES_USER: ocei
      POSTGRES_PASSWORD: ocei
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  flyway:
    image: flyway/flyway:10
    command: migrate
    environment:
      FLYWAY_URL: jdbc:postgresql://postgres:5432/ocei3
      FLYWAY_USER: ocei
      FLYWAY_PASSWORD: ocei
    volumes:
      - ./db/migrations:/flyway/sql
    depends_on:
      - postgres

  device-seed:
    image: postgres:16
    depends_on:
      - flyway
      - postgres
    volumes:
      - ./db/seeds:/db/seeds
    environment:
      PGPASSWORD: ocei
    entrypoint: >
      sh -c "
      psql -h postgres -U ocei -d ocei3
      -c \"\\copy generic_device(device_id, device_type, alias, client, description, status, timezone, metadata)
           FROM '/db/seeds/devices_v2.csv' CSV HEADER;\"
      "

  ingestor:
    build: ./ingestor
    env_file:
      - .env
    environment:
      DB_DSN: postgres://ocei:ocei@postgres:5432/ocei3
    volumes:
      - ./data:/data
    depends_on:
      - device-seed

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - postgres

volumes:
  pgdata:
