dataset: environmental_metrics
granularity: raw

columns:
  "timestamp": timestamp
  "atm_pressure (hPa)": atm_pressure
  "noise_level_db (dB)": noise_level_db
  "temperature (°C)": temperature
  "humidity (%)": humidity
  "pm10 (µg/m³)": pm10
  "wind_speed (m/s)": wind_speed
  "wind_direction (sectors)": wind_direction_sectors
  "wind_angle (°)": wind_angle
  "pm2p5 (µg/m³)": pm2p5

coercions:
  timestamp: datetime
  atm_pressure: float
  noise_level_db: float
  temperature: float
  humidity: float
  pm10: float
  wind_speed: float
  wind_direction_sectors: float
  wind_angle: float
  pm2p5: float

primary_key:
  - timestamp